[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cosmotech-api = ">=2.0.0"
pyyaml = "*"
azure-identity = "*"
azure-graphrbac = "*"

[dev-packages]

[requires]
python_version = "3.9"
